<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.crm.dao.ViewChanceMapper" >
  <resultMap id="BaseResultMap" type="com.xxx.crm.vo.ViewChance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="interviewer_name" property="interviewerName" jdbcType="VARCHAR" />
    <result column="is_valid" property="isValid" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="create_man" property="createMan" jdbcType="VARCHAR" />
    <result column="assign_id" property="assignId" jdbcType="VARCHAR" />
    <result column="interviewer" property="interviewer" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, interviewer_name, interviewer, experience, create_Man, create_date, update_date, assign_id, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from
        t_view_chance
    where
        id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.xxx.crm.vo.ViewChance" >
    insert into t_view_chance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="interviewerName != null" >
        interviewer_name,
      </if>
      <if test="interviewer != null" >
        interviewer,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
      <if test="assignId != null" >
        assign_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="interviewerName != null" >
        #{interviewerName,jdbcType=VARCHAR},
      </if>
      <if test="interviewer != null" >
        #{interviewer,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null" >
        #{assignId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.crm.vo.ViewChance" >
    update t_view_chance
    <set>
      <if test="interviewerName != null" >
        interviewer_name = #{interviewerName,jdbcType=VARCHAR},
      </if>
      <if test="interviewer != null" >
        interviewer = #{interviewer,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=VARCHAR},
      </if>
      <if test="assignId != null">
        assign_id = #{assignId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--多条件查询-->
  <select id="selectByParams" parameterType="com.xxx.crm.query.ViewChanceQuery" resultType="com.xxx.crm.vo.ViewChance">
        select
            s.*,u.user_name as uname
        from
            t_view_chance s left join t_user u on s.assign_id = u.id
        <where>
            s.is_valid=1
            <if test="interviewerName !=null and interviewerName !=''">
                 and s.interviewer_name like concat('%',#{interviewerName},'%')
            </if>
            <if test="createMan !=null and createMan !=''">
              and s.create_man = #{createMan}
            </if>
            <!--查询分配给当前用户对应数据-->
            <if test="assignId != null">
              and s.assign_id = #{assignId}
            </if>
        </where>
  </select>

  <update id="deleteBatch">
      update t_view_chance
      set is_valid=0
      where id in
      <foreach collection="array" item="item" open="("   separator="," close=")">
          #{item}
      </foreach>
  </update>

</mapper>

<!--此文件中sql语句id不能相同,否则启动类无法启动-->